<section class="posts">
  <div class="posts-container">
    @for (post of posts(); track post.id; let index = $index) {
      <article class="post-card">
        <div class="post-content" [class.post-content--beige]="index % 2 === 0" [class.post-content--green]="index % 2 === 1">
          <span class="post-category" [class.post-category--orange]="index % 2 === 0" [class.post-category--green]="index % 2 === 1">
            {{ index % 2 === 0 ? 'Product photography' : 'Portrait' }}
          </span>
          <h3>{{ post.title }}</h3>
          <p>{{ post.text }}</p>
        </div>

        <div class="post-image"></div>
      </article>
    }

    <div class="posts-button">
      <a routerLink="/blog">Browse all posts</a>
    </div>
  </div>
</section>
