<section class="blog">
  <div class="blog-container">
    <div class="blog-header">
      <div>
        <h2>Мой блог</h2>
        <p class="blog-description">
          Что то на латыне тут должно быть.
        </p>
      </div>

      <div class="blog-circle">
        <span>МОЙ БЛОГ МОЙ БЛОГ МОЙ БЛОГ</span>
      </div>
    </div>

    <app-blog-list
      [posts]="posts"
      (deletePost)="onDeletePost($event)"
      (editPost)="openEditForm($event)"
    ></app-blog-list>

    <div class="blog-button">
      <button>Next →</button>
    </div>

    <app-admin-panel
      (addPostClick)="openCreateForm()"
      (statsClick)="isStatsOpen = true"
    ></app-admin-panel>

    <app-blog-post-form
      *ngIf="isFormOpen"
      [post]="editingPost"
      [mode]="formMode"
      (save)="onSavePost($event)"
      (cancel)="closePostForm()"
    ></app-blog-post-form>

    <app-blog-stats-dialog
      *ngIf="isStatsOpen"
      [postsCount]="posts.length"
      (close)="isStatsOpen = false"
    ></app-blog-stats-dialog>

  </div>
</section>