
.header-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  
  padding-left:7vw;
  padding-right:7vw;
  padding-top: 2.29vw
}

.blog-name{
  font-size:var(--h3-size);
  font-weight:500;
}

.menu{
  display:flex;
  gap:25px;
  list-style:none;
  margin:0;
  padding:0;
}

.menu a{
  text-decoration:none;
  color:var(--text-secondary);
  font-weight:400;
  transition: 0.3s ease;
}

.menu a:hover{
  font-weight:700;
  color:var(--accent-green);
}