<div class="blog-admin-layout">
  <aside class="blog-admin-panel">
    <button
      (click)="openPostForm()"
      class="blog-admin-icon-button"
      type="button"
      title="Создать статью"
      mat-icon-button
    >
      <mat-icon>add_circle</mat-icon>
    </button>

    <button
      (click)="openStats()"
      class="blog-admin-icon-button"
      type="button"
      title="Показать статистику"
      mat-icon-button
    >
      <mat-icon>bar_chart</mat-icon>
    </button>
  </aside>
</div>